.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem;
  margin-top: -20vh;
  //by looking at our clip-path proprity and our total heading height we can deduce how much margin we will need in negative to hide the white space.
}
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to bottom right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("/img/nat-4.jpg");
  background-size: cover;
  margin-top: -12rem;
  transform: skewY(-7deg);
  & > * {
    //'.section-features *'This will select all the children and the grand children of the 'section-fetures' while '.section-featurs > *' will select only the direct children of the 'section-features'.
    transform: skewY(7deg);
  }
}
.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;
}
.section-stories {
  position: relative;
  padding: 15rem 0;
}
.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
.book {
  //This won't be a reusable componenet throughout our website thats why we styled it in this page.("These styles will only be tied to this page").however, the form will be a standalone component.
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(/img/nat-10.jpg);
  //The degree value is takin from the center of the image ("So its 105deg from the bottom center of the image to the top of the image"). then we specify that at 0% to 50% we want the 'color-white' with '.9 opacity' after that from 50% to the end we want the gradient to be 'Transparent'. all the values are relative to the '105deg'.
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  height: 50rem;
  &__form {
    //This is not the actual form but this container is for the positioning of the form specifically for this page.
    width: 50%;
    padding: 6rem;
  }
}
